In [ ]:
!pip install gensim

In [18]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\admin1\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [23]:
idx_df = [(str(a['name']), str(a['history_text'])) for i,a in mydf.loc[:,["name","history_text"]].iterrows()]
tagged_data = [TaggedDocument(words=word_tokenize(_d.lower()), tags=[str(i)]) for i, _d in idx_df]

In [27]:
max_epochs = 100
vec_size = 20
alpha = 0.025

model = Doc2Vec(vector_size=vec_size,
                alpha=alpha, 
                min_alpha=0.00025,
                min_count=1,
                dm =1)
  
model.build_vocab(tagged_data)

In [28]:
mydf[5:10]

,name,real_name,full_name,overall_score,history_text,powers_text,intelligence_score,strength_score,speed_score,durability_score,...,has_flight,has_accelerated_healing,has_weapons_master,has_intelligence,has_reflexes,has_super_speed,has_durability,has_stamina,has_agility,has_super_strength
5,Aayla Secura,Aayla Secura,NaN,8,ayla Secura was a Rutian Twi'lek Jedi Knight (...,NaN,90,40,45,55,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,Abe Sapien,Abraham Sapien,Abraham Sapien,10,"Sapien began life as Langdon Everett Caul, a ...",Abe is a humanoid amphibious creature. He has...,95,30,35,65,...,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
7,Abin Sur,NaN,NaN,9,Originally a history professor on the planet ...,Abin Sur possessed an exceptionally strong s...,75,90,55,65,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Abomination,Emil Blonsky,Emil Blonsky,22,"Formerly known as Emil Blonsky, a spy of Sovie...",'Blonsky''s transformation into the Abominatio...,85,100,80,90,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
9,Abra Kadabra (CW),Unknown,Unknown,13,"""Abra Kadabra"" was a criminal time traveler fr...",Abra Kadabra was augmented with various nanot...,100,10,20,30,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
model.docvecs.most_similar("Superman (2006)")

<ipython-input-31-7123d2260fc4>:1: DeprecationWarning: Call to deprecated `docvecs` (The `docvecs` property has been renamed `dv`.).
  model.docvecs.most_similar("Superman (2006)")

[('Rocket Raccoon (MCU)', 0.6858669519424438),
 ('Rocket Raccoon', 0.5951510071754456),
 ('Red Tornado (CW)', 0.5688164830207825),
 ('Penguin', 0.564375638961792),
 ('Stick (MCU)', 0.5559000968933105),
 ('Steel Serpent', 0.5380349159240723),
 ('Arsenal', 0.5371323227882385),
 ('Invincible', 0.5335350632667542),
 ('Martian Manhunter', 0.5319717526435852),
 ('Jesse Quick (CW)', 0.518513023853302)]